.mule/plugins-tmp/repository/4.2.2-hf2/com/mulesoft/connectors/mule-sfdc-analytics-connector/3.1.8/mule-sfdc-analytics-connector-3.1.8-mule-plugin.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mulesoft.org/schema/mule/salesforce-analytics" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"></xs:import>
  <xs:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans.xsd"></xs:import>
  <xs:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"></xs:import>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-shared-extension" name="salesforce-analytics-config">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractExtensionType">
          <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="1" maxOccurs="1" ref="mule:abstractConnectionProvider"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:expiration-policy"></xs:element>
          </xs:sequence>
          <xs:attribute type="xs:string" use="required" name="name">
            <xs:annotation>
              <xs:documentation>The identifier of this element used to reference it in other components</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstractConnectionProvider" name="basic-connection">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractConnectionProviderType">
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:reconnection"></xs:element>
          </xs:sequence>
          <xs:attribute type="mule:expressionString" use="required" name="username">
            <xs:annotation>
              <xs:documentation>Username used to initialize the session</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="password">
            <xs:annotation>
              <xs:documentation>Password used to authenticate the user</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="securityToken">
            <xs:annotation>
              <xs:documentation>User's security token. It can be omitted if your IP has been whitelisted on Salesforce</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" default="https://login.salesforce.com/services/Soap/u/31.0" name="url">
            <xs:annotation>
              <xs:documentation>Web service URL responsible for user authentication. This is the URL for the endpoint that is configured to handle SOAP authentication requests.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" default="0" name="readTimeout">
            <xs:annotation>
              <xs:documentation>Specifies the amount of time, in milliseconds, that the consumer will wait for a response before it times out. Default value is 0, which means infinite.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" default="0" name="connectionTimeout">
            <xs:annotation>
              <xs:documentation>Specifies the amount of time, in milliseconds, that the consumer will attempt to establish a connection before it times out. Default value is 0, which means infinite.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="proxyHost">
            <xs:annotation>
              <xs:documentation>Hostname of the proxy. If this property is not set then no proxy will be used, otherwise a proxy will be used, but a proxy host must be specified.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" name="proxyPort">
            <xs:annotation>
              <xs:documentation>Port of the proxy. If host is set then this property must be set and cannot be a negative number.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="proxyUsername">
            <xs:annotation>
              <xs:documentation>Username used to authenticate against the proxy. If this property is not set then no authentication is going to be used against the proxy, otherwise this value must be specified.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="proxyPassword">
            <xs:annotation>
              <xs:documentation>Password used to authenticate against the proxy.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstractConnectionProvider" name="config-with-oauth-connection">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractConnectionProviderType">
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:reconnection"></xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="oauth-authorization-code">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="mule:abstractExtensionType">
                    <xs:sequence></xs:sequence>
                    <xs:attribute type="xs:string" use="required" name="consumerKey">
                      <xs:annotation>
                        <xs:documentation>The OAuth consumerKey as registered with the service provider</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="required" name="consumerSecret">
                      <xs:annotation>
                        <xs:documentation>The OAuth consumerSecret as registered with the service provider</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="optional" default="https://login.salesforce.com/services/oauth2/authorize" name="authorizationUrl">
                      <xs:annotation>
                        <xs:documentation>The service provider's authorization endpoint URL</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="optional" default="https://login.salesforce.com/services/oauth2/token" name="accessTokenUrl">
                      <xs:annotation>
                        <xs:documentation>The service provider's accessToken endpoint URL</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="optional" name="scopes">
                      <xs:annotation>
                        <xs:documentation>The OAuth scopes to be requested during the dance. If not provided, it will default to those in the annotation</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="mule:expressionString" use="optional" name="resourceOwnerId">
                      <xs:annotation>
                        <xs:documentation>The resourceOwnerId which each component should use if it doesn't reference otherwise.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="optional" name="before">
                      <xs:annotation>
                        <xs:documentation>The name of a flow to be executed right before starting the OAuth dance</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="optional" name="after">
                      <xs:annotation>
                        <xs:documentation>The name of a flow to be executed right after an accessToken has been received</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="oauth-callback-config">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="mule:abstractExtensionType">
                    <xs:sequence></xs:sequence>
                    <xs:attribute type="xs:string" use="required" name="listenerConfig">
                      <xs:annotation>
                        <xs:documentation>A reference to a &lt;http:listener-config /&gt; to be used in order to create the listener that will catch the access token callback endpoint.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="required" name="callbackPath">
                      <xs:annotation>
                        <xs:documentation>The path of the access token callback endpoint</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="required" name="authorizePath">
                      <xs:annotation>
                        <xs:documentation>The path of the local http endpoint which triggers the OAuth dance</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="optional" name="externalCallbackUrl">
                      <xs:annotation>
                        <xs:documentation>If the callback endpoint is behind a proxy or should be accessed through a non direct URL, use this parameter to tell the OAuth provider the URL it should use to access the callback</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="oauth-store-config">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="mule:abstractExtensionType">
                    <xs:sequence></xs:sequence>
                    <xs:attribute type="xs:string" use="optional" name="objectStore">
                      <xs:annotation>
                        <xs:documentation>A reference to the object store that should be used to store each resource owner id's data. If not specified, runtime will automatically provision the default one.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/salesforce-analytics" type="org.mule.modules.salesforce.analytics.api.oauthParams.SalesforceOAuthDisplayEnumType" use="required" name="display"></xs:attribute>
          <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/salesforce-analytics" type="org.mule.modules.salesforce.analytics.api.oauthParams.SalesforceOAuthImmediateEnumType" use="optional" default="FALSE" name="immediate"></xs:attribute>
          <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/salesforce-analytics" type="org.mule.modules.salesforce.analytics.api.oauthParams.SalesforceOAuthPromptEnumType" use="optional" default="LOGIN" name="prompt"></xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" default="0" name="readTimeout">
            <xs:annotation>
              <xs:documentation>Specifies the amount of time, in milliseconds, that the consumer will wait for a response before it times out. Default value is 0, which means infinite.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" default="0" name="connectionTimeout">
            <xs:annotation>
              <xs:documentation>Specifies the amount of time, in milliseconds, that the consumer will attempt to establish a connection before it times out. Default value is 0, which means infinite.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="proxyHost">
            <xs:annotation>
              <xs:documentation>Hostname of the proxy. If this property is not set then no proxy will be used, otherwise a proxy will be used, but a proxy host must be specified.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" name="proxyPort">
            <xs:annotation>
              <xs:documentation>Port of the proxy. If host is set then this property must be set and cannot be a negative number.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="proxyUsername">
            <xs:annotation>
              <xs:documentation>Username used to authenticate against the proxy. If this property is not set then no authentication is going to be used against the proxy, otherwise this value must be specified.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="proxyPassword">
            <xs:annotation>
              <xs:documentation>Password used to authenticate against the proxy.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstractConnectionProvider" name="oauth-jwt-connection">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractConnectionProviderType">
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:reconnection"></xs:element>
          </xs:sequence>
          <xs:attribute type="mule:expressionString" use="required" name="consumerKey">
            <xs:annotation>
              <xs:documentation>Consumer key for Salesforce connected app</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="keyStore">
            <xs:annotation>
              <xs:documentation>Path to key store used to sign data during authentication</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="storePassword">
            <xs:annotation>
              <xs:documentation>Password of key store</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="principal">
            <xs:annotation>
              <xs:documentation>Username of desired Salesforce user to take action on behalf of.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" default="https://login.salesforce.com/services/oauth2/token" name="tokenEndpoint">
            <xs:annotation>
              <xs:documentation>URL pointing to the server responsible for providing the authentication token. According to Salesforce it should be https://login.salesforce.com/services/oauth2/token, or, if implementing for a community, https://acme.force.com/customers/services/oauth2/token (where acme.force.com/customers is your community URL).</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" default="0" name="readTimeout">
            <xs:annotation>
              <xs:documentation>Specifies the amount of time, in milliseconds, that the consumer will wait for a response before it times out. Default value is 0, which means infinite.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" default="0" name="connectionTimeout">
            <xs:annotation>
              <xs:documentation>Specifies the amount of time, in milliseconds, that the consumer will attempt to establish a connection before it times out. Default value is 0, which means infinite.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="proxyHost">
            <xs:annotation>
              <xs:documentation>Hostname of the proxy. If this property is not set then no proxy will be used, otherwise a proxy will be used, but a proxy host must be specified.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" name="proxyPort">
            <xs:annotation>
              <xs:documentation>Port of the proxy. If host is set then this property must be set and cannot be a negative number.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="proxyUsername">
            <xs:annotation>
              <xs:documentation>Username used to authenticate against the proxy. If this property is not set then no authentication is going to be used against the proxy, otherwise this value must be specified.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="proxyPassword">
            <xs:annotation>
              <xs:documentation>Password used to authenticate against the proxy.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstractConnectionProvider" name="oauth-saml-connection">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractConnectionProviderType">
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:reconnection"></xs:element>
          </xs:sequence>
          <xs:attribute type="mule:expressionString" use="required" name="consumerKey">
            <xs:annotation>
              <xs:documentation>Consumer key for Salesforce connected app</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="keyStore">
            <xs:annotation>
              <xs:documentation>Path to key store used to sign data during authentication</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="storePassword">
            <xs:annotation>
              <xs:documentation>Password of key store</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="principal">
            <xs:annotation>
              <xs:documentation>Username of desired Salesforce user to take action on behalf of.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" default="https://login.salesforce.com/services/oauth2/token" name="tokenEndpoint">
            <xs:annotation>
              <xs:documentation>URL pointing to the server responsible for providing the authentication token. According to Salesforce it should be https://login.salesforce.com/services/oauth2/token, or, if implementing for a community, https://acme.force.com/customers/services/oauth2/token (where acme.force.com/customers is your community URL).</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" default="0" name="readTimeout">
            <xs:annotation>
              <xs:documentation>Specifies the amount of time, in milliseconds, that the consumer will wait for a response before it times out. Default value is 0, which means infinite.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" default="0" name="connectionTimeout">
            <xs:annotation>
              <xs:documentation>Specifies the amount of time, in milliseconds, that the consumer will attempt to establish a connection before it times out. Default value is 0, which means infinite.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="proxyHost">
            <xs:annotation>
              <xs:documentation>Hostname of the proxy. If this property is not set then no proxy will be used, otherwise a proxy will be used, but a proxy host must be specified.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" name="proxyPort">
            <xs:annotation>
              <xs:documentation>Port of the proxy. If host is set then this property must be set and cannot be a negative number.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="proxyUsername">
            <xs:annotation>
              <xs:documentation>Username used to authenticate against the proxy. If this property is not set then no authentication is going to be used against the proxy, otherwise this value must be specified.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="proxyPassword">
            <xs:annotation>
              <xs:documentation>Password used to authenticate against the proxy.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/salesforce-analytics" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="CreateDataSetType" substitutionGroup="mule:abstract-operator" name="create-data-set">
    <xs:annotation>
      <xs:documentation>Creates a new data set into Salesforce Analytics Cloud system and returns the identifier of created data set within Salesforce Analytics Cloud system.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CreateDataSetType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="type">
          <xs:annotation>
            <xs:documentation>represents the type of the DataSet to be created</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/salesforce-analytics" type="org.mule.modules.salesforce.analytics.api.DataSetConnectorOperationEnumType" use="required" name="operation"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="description"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="label"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="dataSetName"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="edgemartContainer"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/salesforce-analytics" type="org.mule.modules.salesforce.analytics.api.DataSetConnectorNotificationSentEnumType" use="optional" name="notificationSent"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="notificationEmail"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/salesforce-analytics" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="DeleteDataSetType" substitutionGroup="mule:abstract-operator" name="delete-data-set">
    <xs:annotation>
      <xs:documentation>Deletes specified data set from Salesforce Analytics Cloud system</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="DeleteDataSetType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="dataSetId">
          <xs:annotation>
            <xs:documentation>- identifier of data set to be deleted</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/salesforce-analytics" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="StartDataProcessingType" substitutionGroup="mule:abstract-operator" name="start-data-processing">
    <xs:annotation>
      <xs:documentation>Tells to Salesforce Analytics Cloud system to start processing the records uploaded so far into given data set</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="StartDataProcessingType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="dataSetId">
          <xs:annotation>
            <xs:documentation>identifier of data set to be processed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/salesforce-analytics" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="UnauthorizeType" substitutionGroup="mule:abstract-operator" name="unauthorize">
    <xs:annotation>
      <xs:documentation>Deletes all the access token information of a given resource owner id so that it's impossible to execute any operation for that user without doing the authorization dance again</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="UnauthorizeType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
        <xs:attribute type="mule:expressionString" use="optional" name="resourceOwnerId">
          <xs:annotation>
            <xs:documentation>The id of the resource owner which access should be invalidated</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/salesforce-analytics" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="UploadExternalDataType" substitutionGroup="mule:abstract-operator" name="upload-external-data">
    <xs:annotation>
      <xs:documentation>Inserts given records into data set with given id from Salesforce Analytics Cloud system.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="UploadExternalDataType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="records">
            <xs:annotation>
              <xs:documentation>list of records to be inserted</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="dataSetId">
          <xs:annotation>
            <xs:documentation>identifier of data set within Salesforce Analytics Cloud system</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/salesforce-analytics" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="UploadExternalDataIntoNewDataSetAndStartProcessingType" substitutionGroup="mule:abstract-operator" name="upload-external-data-into-new-data-set-and-start-processing">
    <xs:annotation>
      <xs:documentation>Creates data set uploads data into it and tells to Salesforce Analytics Cloud system to start processing uploaded data.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="UploadExternalDataIntoNewDataSetAndStartProcessingType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="records">
            <xs:annotation>
              <xs:documentation>list of records to be inserted</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="type">
          <xs:annotation>
            <xs:documentation>type of the records to be inserted. This is automatically computed based on metadata extracted from file provided with configuration element</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/salesforce-analytics" type="org.mule.modules.salesforce.analytics.api.DataSetConnectorOperationEnumType" use="required" name="operation"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="description"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="label"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="dataSetName"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="edgemartContainer"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/salesforce-analytics" type="org.mule.modules.salesforce.analytics.api.DataSetConnectorNotificationSentEnumType" use="optional" name="notificationSent"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="notificationEmail"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="org.mule.modules.salesforce.analytics.api.oauthParams.SalesforceOAuthDisplayEnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="PAGE"></xs:enumeration>
          <xs:enumeration value="POPUP"></xs:enumeration>
          <xs:enumeration value="TOUCH"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="org.mule.modules.salesforce.analytics.api.oauthParams.SalesforceOAuthImmediateEnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="TRUE"></xs:enumeration>
          <xs:enumeration value="FALSE"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="org.mule.modules.salesforce.analytics.api.oauthParams.SalesforceOAuthPromptEnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="LOGIN"></xs:enumeration>
          <xs:enumeration value="CONSENT"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="org.mule.modules.salesforce.analytics.api.DataSetConnectorOperationEnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="APPEND"></xs:enumeration>
          <xs:enumeration value="OVERWRITE"></xs:enumeration>
          <xs:enumeration value="UPSERT"></xs:enumeration>
          <xs:enumeration value="DELETE"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="org.mule.modules.salesforce.analytics.api.DataSetConnectorNotificationSentEnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ALWAYS"></xs:enumeration>
          <xs:enumeration value="WARNINGS"></xs:enumeration>
          <xs:enumeration value="FAILURES"></xs:enumeration>
          <xs:enumeration value="NEVER"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
</xs:schema>